# ---- Python bytecode ----
__pycache__/
*.py[cod]
*$py.class

# ---- Virtual Environments ----
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Explicitly ignore all subfolders inside venv (safety)
venv/**

# ---- Configs & IDE ----
*.log
*.pot
*.pyproj
*.idea/
*.vscode/
*.mypy_cache/
*.pytest_cache/
.pytest_cache/
.DS_Store
Thumbs.db



# ---- Misc ----
*.env
config.ini
